services:
  digiedu-db:
    container_name: digiedu-db
    build:
      context: .
      dockerfile: Dockerfile-postgres
    image: digiedu-postgres:latest
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - "5435:5432"
    networks:
      - digiedu_backend_network
    environment:
      POSTGRES_DB: develop
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: pleaseletmein
  digiedu-backend:
    container_name: digiedu-backend
    build:
      context: .
      dockerfile: Dockerfile-backend
    image: digiedu-backend:latest
    ports:
      - "4444:8080"
    networks:
      - digiedu_backend_network
    depends_on:
      - digiedu-db
    environment:
      SERVER_HOST: digiedu-db
      SERVER_DB: develop
      SERVER_PORT: 5432
      SERVER_USER: testuser
      SERVER_PASSWORD: pleaseletmein

networks:
  digiedu_backend_network:
    driver: bridge
    name: digiedu_backend_network
